/* Global styles to prevent text selection and cursor blinking */
* {
  user-select: none; /* Prevent text selection */
  cursor: default; /* Set default cursor for all elements */
}

/* Remove caret and outline from input and textarea elements */
input, textarea {
  outline: none; /* Remove outline */
  caret-color: transparent; /* Make caret invisible */
}

/* Prevent pointer events on all text elements except the Featuring section */
body, h1, h2, h3, h4, h5, h6, p, span {
  pointer-events: none; /* Disable pointer events */
}

.featuring-section, .featuring-section h2, .featuring-section p {
  pointer-events: auto; /* Enable pointer events for the Featuring section */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landscape-slideshow {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
}

.slideshow-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slideshow-buttons {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
}

.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Change background color on hover */
}

.new-slideshow-container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.new-slideshow {
  display: flex;
  transition: transform 0.5s ease;
}

.new-slideshow-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.featuring-section {
    background: repeating-linear-gradient(
        45deg,
        #f0f0f0,
        #f0f0f0 10px,
        #e0e0e0 10px,
        #e0e0e0 20px
    ) !important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.featuring-section h2 {
    color: #333; /* Darker text color for headings */
}

.featuring-section p {
    color: #666; /* Medium gray for paragraph text */
}
